<div class="big-card-container">
  <div class="big-card-photo">
    <img
      src="https://img.redbull.com/images/c_crop,x_1109,y_0,h_2160,w_1728/c_fill,w_450,h_600/q_auto:low,f_auto/redbullcom/2018/09/07/92333f48-fb01-4c93-a419-f2ccdd31dc79/spider-man-screenshot"
      alt=""
      srcset=""
    />
  </div>
  <div class="big-card-article">
    <div class="big-card-title">
      <h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
        voluptatibus nulla.
      </h1>
    </div>
    <div class="big-card-details">
      <p>Lorem ipsum</p>
    </div>
  </div>
</div>
<hr>
