<div class="big-card-container">
  <div class="big-card-photo">
    <img
      src="https://upload.wikimedia.org/wikipedia/en/2/21/Web_of_Spider-Man_Vol_1_129-1.png"
      alt=""
      srcset=""
    />
  </div>
  <div class="big-card-article">
    <div class="big-card-badges">
      <span>Development</span>
      <span>UPDATES</span>
    </div>
    <div class="big-card-title">
      <h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
        voluptatibus nulla.
      </h1>
    </div>
    <div class="big-card-description">
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas
        aperiam officiis quo dolores ex corporis iure ipsum quibusdam, illo
        suscipit.
      </p>
    </div>
    <div class="big-card-details">
      <p>Lorem ipsum</p>
    </div>
  </div>
</div>
