<div class="small-card-container">
  <div class="small-card-photo">
    <img
      src="https://t.ctcdn.com.br/3DnGPJKblIPt6W7R0doT5O_bSvI=/196x16:1914x984/1200x675/smart/i336725.jpeg"
      alt=""
      srcset=""
    />
  </div>
  <div class="small-card-article">
    <div class="small-card-badges">
      <span>Development</span>
      <span>UPDATES</span>
    </div>
    <div class="small-card-title">
      <h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
        voluptatibus nulla.
      </h1>
    </div>
    <div class="small-card-description">
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas
        aperiam officiis quo dolores ex corporis iure ipsum quibusdam, illo
        suscipit.
      </p>
    </div>
    <div class="small-card-details">
      <p>Lorem ipsum</p>
    </div>
  </div>
</div>
