<app-menu-bar></app-menu-bar>
<app-menu-title></app-menu-title>
<div class="article-main">
  <app-big-card></app-big-card>
</div>
<div class="container-sec">
  <div class="article-small">
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
  </div>
  <div class="article-side">
    <h2>Top Posts</h2>
    <app-side-card></app-side-card>
    <app-side-card></app-side-card>
    <app-side-card></app-side-card>
  </div>
</div>
